{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container">
    <div class="container-form">
    <div class="form_post">

        <form method="post">

            {% csrf_token %}
            {{ form | crispy }}
            <div class="my-4 px-5">
            <button class="btn btn-outline-primary px-4" type="submit">Submit</button>
            </div>
        </form>
    </div>
    </div>
</div>

    {% include 'foter.html' %}



{% endblock %}
