{% extends 'navbar.html' %}
{% load static %}
{% block index %}
<header class="menu-link">
        <div class="container">
            <div class="menu-link-text">
                <h1>Курсы</h1>
                <p>Главная <span class="slesh">/</span> <span>Курсы</span></p>
            </div>
        </div>
    </header>


    <header class="menu-courses">
        <div class="container">
            <div class="menu-course-text">
                <div class="row">
                    <div class="col">
                        <h1>Начинающий бухгалтер</h1>
                        <a href="">С нуля до баланса</a><br>
                        <a href="">Учет и отчетность в сфере производства</a>
                    </div>
                    <div class="col">
                        <h1>финансовый менеджмент</h1>
                        <a href="">Наладка денежных потоков</a><br>
                        <a href="">Анализ финансовых показателей фирмы</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Профессиональная бухгалтерия</h1>
                        <a href="">Бухгалтерский учет</a><br>
                        <a href="">1С бухгалтерия</a><br>
                        <a href="">Налогообложение</a>
                    </div>
                    <div class="col">
                        <h1>Мсфо</h1>
                        <a href="">Новая ступень в карьере бухгалтера</a><br>
                        <a href="">Подготовка к экзаменам АССА</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Начинающий бухгалтер</h1>
                        <a href="">С нуля до баланса</a><br>
                        <a href="">Учет и отчетность в сфере производства</a>
                    </div>
                    <div class="col">
                        <h1>финансовый менеджмент</h1>
                        <a href="">Наладка денежных потоков</a><br>
                        <a href="">Анализ финансовых показателей фирмы</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Профессиональная бухгалтерия</h1>
                        <a href="">Бухгалтерский учет</a><br>
                        <a href="">1С бухгалтерия</a><br>
                        <a href="">Налогообложение</a>
                    </div>
                    <div class="col">
                        <h1>Мсфо</h1>
                        <a href="">Новая ступень в карьере бухгалтера</a><br>
                        <a href="">Подготовка к экзаменам АССА</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% include 'foter.html' %}
{% endblock %}
