{% load static %}
{% include 'link.html' %}
{% block index %}
    <script src="{% static 'js/main.js' %}"></script>
      <div class="box-2">
      <div class="container">
        <h1>Курсы</h1>
      <div class="c">
          <div class="lines">
            <div class="circle"></div>
          </div>
        </div>
            <div class="row course-slider">

            {% for i in dataAll.kurs %}
            <div class="course-slider-item">

          <div class="card-1">
            <p class="text-buxg">{{ i.name }}</p>
            <p class="text-opic">ОПИСАНИЕ:</p>
            <div class="text-icon">
              <div class="img-text"><img src="{% static 'img/soat.svg' %}" alt="">
                <p class="text-bold">длительность: <br><span>{{ i.muddati }} месяца</span></p>
              </div>
              <div class="img-text"><img src="{% static 'img/ss.svg' %}" alt="">
                <p class="text-bold"> посещаемость (нед.): <br> <span>{{ i.dars_soni }} раза</span></p>
              </div>
              <div class="img-text user-img"><img class="img-size" src="{% static 'img/user.svg' %}" alt="">
                <p class="text-bold text-left-m">вид обучения: <br><span>{{ i.group }}</span></p>
              </div>
              <div class="img-text"><img src="{% static 'img/shopping-cart (1).svg' %}" alt="">
                <p class="text-bold">стоимость <br><span>от {{ i.price }}$</span></p>
              </div>
            </div>
            <div class="a">
              <a href="{% url 'register' %}" class="btn-zact">записаться</a><br><br>
              <a href="{% url 'detail' i.pk %}" class="btn-s">Детали курса</a>
            </div>
          </div>
                </div>
         {% endfor %}

{#            <div class="arrow-prev">#}
{#                <img src="{% static 'img/img-slider/left.svg' %}" alt="left">#}
{#            </div>#}
{#            <div class="arrow-next">#}
{#                <img src="{% static 'img/img-slider/reght.svg' %}" alt="reght">#}
{#            </div>#}
        </div>
      </div>
    </div>

<div class="button-kurs">
      <div class="container">
        <div class="btn-right"></div>
        <div class="btn-center">
          <a class="btn-k" href="{% url 'kurs' %}">все курсы</a>
        </div>
      </div>
    </div>
    <hr>
{% endblock %}