{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<footer class="footer">
      <div class="container">
        <div class="footer-box-card">

          <div class="footer-logo">
            <a class="navbar-brand" href="#">
              <p class="navbar-logo-text">Учебный центр</p><img class="logo-img" src="{% static 'img/Fin expert.svg' %}" alt="">
              <p class="navbar-text-btm">Бухгалтерия и финансы</p>
            </a>
          </div>




          <div class="footer-tel-ins">
            <div class="fotter-name">
              <h1 class="fotter-h1">Мы в сети</h1>
            </div>
            <div class="tel-fes">
           <a href=""><img src="{% static 'img/fac.svg' %}" alt=""></a>
           <a href=""><img src="{% static 'img/fac.svg' %}" alt=""></a>
           <a href=""><img src="{% static 'img/fac.svg' %}" alt=""></a>

          </div>
          </div>

        </div>
      </div>
        <br>
        <div class="footer-bottom-wrap">
      <div class="container">
        <div class="footer-bottom">
          <div class="footer-bottom-item">
            «FIN EXPERT» Все права защищены
          </div>
          <div class="footer-bottom-item"> © Copyright 2021 - Web developed by <a href="https://sos.uz/">SOS Group</a> </div>
        </div>
      </div>
    </div>
    </footer>






