{% load static %}

<link rel="stylesheet" href="{% static 'font/GoshaSans-FreeForPersonalUse/GoshaSans-Regular.otf' %}">
<link rel="stylesheet" href="{% static 'font/days-font/DaysOne-Regular.ttf' %}">
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'libs/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<script src="{% static 'bootstrap/js/jQuery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/src/popover.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'libs/slick/slick.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/style_pagen.css' %}">
<script src="{% static 'js/script.js' %}"></script>